.table-wrapper__custom {
  background-color: #58b89514;
  border-style: hidden !important;
}

.react-bs-table-no-data {
  border-bottom-width: 0px !important;
}

.table-empty {
  height: 100px;
  margin-top: 50px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
