.app-container {
  height: 100vh;

  .header {
    margin-top: 10px;
    text-align: center;

    &-image {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 1px solid #99daf2;
    }
  }
}
